@import "tailwindcss";

@theme{
  /* -----------COLORS----------- */

  /* __________legend__________ */
  /* obj (object) = Things like buttons, small blocks with text */
  /* for example: clr-text-obj is the color of the text in a button */
  /* clr-border-obj is the color of the border of a for example button */

  /* Main website colors */
  --color-primary: oklch(54.6% 0.245 262.881); /*blue-600*/
  --color-secondary: oklch(62.3% 0.214 259.815); /*blue-500*/
  --color-tertiary: oklch(70.7% 0.165 254.624); /*blue-400*/
  --color-quad: oklch(93.2% 0.032 255.585); /*blue-100*/

  /* Indicators */
  --color-indicator-warn: oklch(94.5% 0.129 101.54); /*yellow-200*/
  --color-indicator-warn-border: oklch(85.2% 0.199 91.936); /*yellow-400*/

  /* Border colors */  
  --color-border-primary: oklch(87% 0 0); /*neutral-300*/
  --color-border-secondary: oklch(92.2% 0 0); /*neutral-200*/

  /* Text colors */
  --color-text-primary: oklch(20.5% 0 0); /*neutral-900*/
  --color-text-secondary: oklch(37.1% 0 0); /*neutral-700*/
  --color-text-tertiary: oklch(55.6% 0 0); /*neutral-500*/
  --color-text-primary-hover: oklch(70.8% 0 0); /*neutral-400*/
  --color-text-secondary-hover: oklch(92.8% 0.006 264.531); /*neutral-200*/
  --color-text-obj: oklch(98.5% 0 0); /*neutral-50*/

  /* Background colors */
  --color-bg-primary: #fff;
  --color-bg-secondary: oklch(98.5% 0 0); /*neutral-50*/
  --color-bg-tertiary: #000;
}

:root {
  font-family: "Inter", system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #171717;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}